.image-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px; /* Adjust the height as needed */
  }
  
.shade {
    width: 100%;
    height: 700px; /* Adjust the height as needed */
    border-radius: 4px;
}

.triangle {
    position: absolute;
    top: 0;
    left: -100px; /* Adjust the left position as needed */
    width: 0;
    height: 0;
    border-top: 50vh solid transparent;
    border-bottom: 50vh solid transparent;
    border-right: 100px solid #f9fafb; /* Adjust the color as needed */
    z-index: -1;
  }
  
  svg{
    z-index: -1;
  }

  .fade-in-animation {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  